@import url(root.css);

.download {

    h1{
        font-size: 61px;
        font-weight: 800;
    }

    p{
        font-size: 24px;
        color: var(--text-color);
        font-weight: 600;
        margin: 27px 0 62px;
    }

    a {
        background-color: black;
        text-align: center;
        border: none;
        font-weight: 800;
        font-size: 25px;
        width: 260px;
        height: 67px;
        padding: 12px;
    }

    .btn{
        img{
            margin-right: 10px;
        }
    }

   .links{
    justify-content: space-between;
   }
}