

.phone-number {
    background-color: var(--primary-color);
    padding: 55px 70px;
    margin: 86px 80px 128px;
    border-radius: 8px;

    .btn {
        background-color: black;
        color: #FFF;
        font-weight: 800;
        font-size: 22px;
        text-align: center;
        width: 260px;
        height: 67px;

        &:hover {
            background-color: #0d6efd;
            color: #FFF;
        }
    }

    input {
        width: 499px;
        height: 67px;
        font-weight: 600;
        font-size: 20px;
        padding: 30px 208px 30px 20px;
        border: none;
        border-radius: 8px;
        margin-right: 11px;
    }

    p {
        color: #FFF;
        font-weight: 600;
        font-size: 25px;
    }

}